.app{
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    height:100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.app__body{
 display: flex;
}