.login {
    display:grid;
    place-items:center;
    height:100vh;
     background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
     background-size: 300%;
     animation: ani 5s infinite linear;
    }


.login>button{
    width:300px;
    background-color:#E12892;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: white;
    color:#E12892;
}

.login > div > img {
    object-fit:contain;
    height: 220px;
}

.login > div{
    display:flex;
    flex-direction: column-reverse;
}

.L{
    background-color:yellow;
    height: 10px;
    object-fit:contain;
    height: 150px;
    font-size:small;
}

@keyframes ani {
    0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
}