.sidebar{
    display:flex;
    flex-direction: column;
   width:40%;

}

/* May not need the header thing here, lol */
 /* .sidebar__header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-right:1px solid lightgrey;
}

.sidebar__headerRight{
    display:flex;
    align-items:center;
    justify-content: space-between;
    min-width: 10vw;
}   */

.sidebar__search{
    display:flex;
    align-items: center;
    background-color:white;
    /* background-color: #f6f6f6f6; */
    height:39px;
    padding: 10px;
    border-bottom:3px solid #f6f6f6;
  
}
/* .sidebar__search:hover {
    background-color: #ebebeb
    
} */

.sidebar__searchContainer > .MuiSvgIcon-root{
    color:gray;
}


.sidebar__searchContainer {
    display:flex;
    align-items:center;
    background-color:white;
    width:100%;
    height:35px;
    border-radius:20px;
 
}

.sidebar__searchContainer > input {
    border:none;
    margin-left:10px;
    width:50%;
}

.sidebar__chats{
    background-color: white;
    flex:1;
    /* overflow:scroll; */
}