.feed{
    flex:1;
    padding:30px 1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: ani 5s infinite linear;
    /* background-size: 300%;
    background-image: linear-gradient(135deg, #cc208e 0%, #6713d2 100%); */
background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
 
}


@keyframes ani {
  0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}
