ul{
    margin: 0;
    padding: 0;
    
}

$generic-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px, rgba(0,0,0,0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

// html{
//     box-sizing: border-box;
//     background-color: #db4c3f;
// }



@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    // position: absolute;
    width: 100%;
    z-index: 1;
    top:85px;
    border-radius: 3px;
}

@mixin va($va-align: center){
    display:flex;
    align-items: center;

@if $va-align != center {
    display: flex;
    align-items: center;
} @else {
    justify-content: center;
}
}

@mixin no-select{
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

@mixin btn($width) {

width: $width;
background-color: #fff !important;
border: 1px solid transparent;
margin-right: 5px;
margin-top: 10px;
font-weight: bold;
font-size: 13px !important;
line-height: 17px;
padding: 6px 12px 7px 12px;
position:relative;
display: inline-block;
white-space:nowrap;
border-radius: 2px !important;
text-decoration: none !important;
text-align: center;
cursor: pointer;
}


@mixin cancel(){
    color:#555;
    cursor: pointer;
    font-size: 14px;
    margin: 2px 5px;
}


@mixin task-item(){
    list-style-type:none;
    display:flex;
    line-height: 18px;
    color: #333;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type:none;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;



&:hover{
    background-color:#f9f9f9;
}
}

@mixin mq($from){
    @media(max-width: $from){
        @content;
    }
}

// p, li {
//     color:white;
// }

.sidebart{
    @include no-select();

    height: calc(100vh);
  
    position: fixed;
    padding-top: 3%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow: scroll;
    

// @include mq('900px'){
//     display:none;
// }


li{
    padding-left: 10px;
    padding-right:15px;
    &:hover .sidebart__project-delete{
        display:block;
    }
}

&__project{
    padding: 5px 0;
    cursor: pointer;
}
&-delete{
    margin-left: auto;
    display: none;
}
// once user clicks sidebar background changes
&.active, &:hover{
    font-weight: bold;
    background-color: #fafafa;
}
// }
&:nth-child(1){
    .sidebart__dot{
        color:#6accbc;
    }
}

&:nth-child(2){
    .sidebart__dot{
        color: #fad002;
    }
}


&:nth-child(3){
    .sidebart__dot{
        color:#6accbc;
    }
}

&:nth-child(4){
    .sidebart__dot{
        color: #ff9932;
    }
}


&:nth-child(5){
    .sidebart__dot{
        color: #af38eb;
    }
}

&__projects{
    padding-left: 3px;
}

&__project{
    @include va('left');
}

&__dot{
    margin-right: 10px;
    font-size: 30px;
}

&__middle{
    margin-top:20px;
    margin-bottom: 20px;
    display:flex;
    border-bottom: $generic-border;
    padding-left:10px;
    cursor: pointer;
}

span{
      color: #0000008a;
      margin-right: 10px;



      svg.hidden-projects{
          transform: rotate(-90deg);
      }
}

h2{
    margin:0;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}

&__generic{
    li{
        padding:0 10px 10px;
        list-style-type: none;
        color: #333;
        display:flex;
        cursor: pointer;
        line-height: 1.50;
        font-size: 30px;


        span:first-of-type{
            margin-right: 10px;

            svg{
                width:18px;
                height:18px;
                color:#555;
            }
        }
    }
}
}


.project-delete-model{
    position: relative;

    &__inner{
        @include box-overlay();
       
        width: 90%;
      margin: 2%;
        top: 10px;
        right: 0;
        background-color:white;

        p{
            margin-top: 5px;
            margin-bottom: 5px;
            line-height:normal;
            font-weight: normal;
            font-size: 15px;
          
        }

        button{
            @include btn ('50px');
        }
        span {
            @include cancel();
            font-weight: normal;
        }
    }
}

.content{
    flex: 1 1;
    background: #C9CCD3;
    background-repeat: repeat;
    background-position: center;
}

.tasks{


//     width: 656px;
//     background-color: yellow;
//     margin-left: 266px;
//     border-right: $generic-border;
//     min-height: calc(100vh);
//     vertical-align: top;
//   padding-left: 200px;
//   padding-right: 40px;
//   padding-top: 80px;
//   padding-bottom: 84px;
   
    // background: #C9CCD3;
    // background-repeat: repeat;
    // background-position: center;
    // overflow: scroll;
    // height: 100vh;
    // width:100vw;
    // margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    flex: 1 1;
    background: #C9CCD3;
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
    
    height: calc(100vh);
}


.projects__name{
    padding-left: 60%;
}


    .project__list{
        background-color: yellow;
    }


// .project-delete-model{
// position: relative;

// &__inner{
//     @include box-overlay();
//     margin-block-start: 0.83em;
//     margin-block-end: 0.83em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;

//     p{
//         margin-top: 5px;
//         margin-bottom: 5px;
//         line-height: normal;
//         font-weight: normal;
//         font-size:15px;
//     }

//     button{
//         @include btn('50px');
//     }
//     span{
//         @include ('10px');
//         font-weight: normal;
//     }
// }
// }
// }


// }
// .darkmode{
//     header{
//         -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
//         box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
//         background-color: #282828;
//         border-color:transparent;
//     }
// }
// 1:22
// Finally got it to the db!1111