ul{
    margin: 0;
    padding: 0;
    
}

$generic-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px, rgba(0,0,0,0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
    top:85px;
    border-radius: 3px;
}

@mixin va($va-align: center){
    display:flex;
    align-items: center;

@if $va-align != center {
    display: flex;
    align-items: center;
} @else {
    justify-content: center;
}
}

@mixin no-select{
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}